<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amit.bms.firstscreen_presentation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:theme="@style/Theme.MovieShowtime">
        <activity
            android:name=".ui.ShowTimeActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait" />
    </application>
</manifest>